<!DOCTYPE html>
<html>
  <head>
    <title>文件下载</title>

    <meta name="keywords" content="keyword1,keyword2,keyword3"></meta>
    <meta name="description" content="this is my page"></meta>
    <meta name="content-type" content="text/html; charset=UTF-8"></meta>

    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->

  </head>

  <body>
	<form method="post" action="http://localhost:8081/api/sandman/v1/resource/updateResource">
    id<input type="text" id="id" name="id"/>
	resGold<input type="text" id="resGold" name="resGold"/>
	resName<input type="text" id="resName" name="resName"/>
	resDesc<input type="text" id="resDesc" name="resDesc"/>
    <input type="submit" value="提交"/>
    </form>
  </body>
</html>